<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lite6_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import lite6_robot urdf file -->
    <!-- This already includes ros2_control from xarm_description -->
    <xacro:include filename="$(find my_uf_description)/urdf/lite6_robot.urdf.xacro" />

</robot>
